In [3]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0

In [4]:
import pandas as pd
import numpy as np
import unidecode

'''
### Ejercicio 1. Limpieza e imputación de un conjunto de datos mixto
 Instrucciones
Crea el DataFrame base df ejecutando el siguiente código:

df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Pedro', None, 'Marta', 'Luis', 'Sofía'],
    'Edad': [25, np.nan, 35, 29, -5, 25, None],
    'Ciudad': ['Bogotá', 'Medellín', None, 'Medellín', 'Cali', 'Bogotá', 'Cali'],
    'Ingreso': [3500, 4800, np.nan, 5200, 5100, np.nan, 4700],
    'FechaIngreso': ['2023-01-01', '2023-01-05', None, '2023-01-10', '2023-01-12', None, '2023-01-15']
})
En un nuevo notebook, aplica las etapas del proceso de limpieza e imputación de datos que consideres necesarias sobre el DataFrame df. Ten encuenta incluir:

Código correctamente comentado y ejecutado.
Explicaciones breves de cada paso.
Resultados visuales o estadísticos que evidencien las transformaciones.
'''

In [33]:
df = pd.DataFrame({ 'Nombre': ['Ana', 'Luis', 'Pedro', None, 'Marta', 'Luis', 'Sofía'], 'Edad': [25, np.nan, 35, 29, -5, 25, None], 'Ciudad': ['Bogotá', 'Medellín', None, 'Medellín', 'Cali', 'Bogotá', 'Cali'], 'Ingreso': [3500, 4800, np.nan, 5200, 5100, np.nan, 4700], 'FechaIngreso': ['2023-01-01', '2023-01-05', None, '2023-01-10', '2023-01-12', None, '2023-01-15'] })

In [26]:
## Primero nos hacemos una idea de los datos que vamos a manipular
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        7 non-null      object
 1   Edad          7 non-null      float64
 2   Ciudad        7 non-null      object
 3   Ingreso       7 non-null      float64
 4   FechaIngreso  7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 412.0+ bytes

In [34]:
df.head()

  Nombre  Edad    Ciudad  Ingreso FechaIngreso
0    Ana  25.0    Bogotá   3500.0   2023-01-01
1   Luis   NaN  Medellín   4800.0   2023-01-05
2  Pedro  35.0      None      NaN         None
3   None  29.0  Medellín   5200.0   2023-01-10
4  Marta  -5.0      Cali   5100.0   2023-01-12

In [31]:
## Contamos la cantidad de datos faltantes
df.isnull().sum()

Nombre          1
Edad            2
Ciudad          1
Ingreso         2
FechaIngreso    2
dtype: int64

In [35]:
## Limpiamos la columna nombre con un texto genérico
print(df['Nombre'])
df['Nombre'] = df['Nombre'].fillna('Sin nombre')
df['Nombre']

0      Ana
1     Luis
2    Pedro
3     None
4    Marta
5     Luis
6    Sofía
Name: Nombre, dtype: object

0           Ana
1          Luis
2         Pedro
3    Sin nombre
4         Marta
5          Luis
6         Sofía
Name: Nombre, dtype: object

In [36]:
## Ahora limpiaremos la edad con la mediana
print(df['Edad'])
df['Edad']= df['Edad'].fillna(df['Edad'].median())
df['Edad']

0    25.0
1     NaN
2    35.0
3    29.0
4    -5.0
5    25.0
6     NaN
Name: Edad, dtype: float64

0    25.0
1    25.0
2    35.0
3    29.0
4    -5.0
5    25.0
6    25.0
Name: Edad, dtype: float64

In [37]:
## Limpiamos la ciudad con ayuda de la moda
print(df['Ciudad'])
moda = df['Ciudad'].mode()[0]
df['Ciudad'] = df['Ciudad'].fillna(moda)
df['Ciudad']

0      Bogotá
1    Medellín
2        None
3    Medellín
4        Cali
5      Bogotá
6        Cali
Name: Ciudad, dtype: object

0      Bogotá
1    Medellín
2      Bogotá
3    Medellín
4        Cali
5      Bogotá
6        Cali
Name: Ciudad, dtype: object

In [38]:
## Los ingresos se limpian con la media de sus valores
print(df['Ingreso'])
df['Ingreso'] = df['Ingreso'].fillna(df['Ingreso'].mean())
df['Ingreso']

0    3500.0
1    4800.0
2       NaN
3    5200.0
4    5100.0
5       NaN
6    4700.0
Name: Ingreso, dtype: float64

0    3500.0
1    4800.0
2    4660.0
3    5200.0
4    5100.0
5    4660.0
6    4700.0
Name: Ingreso, dtype: float64

In [39]:
## Para la fecha de ingreso convertimos los datos a dateTime para calcular la media e imputar
print(df['FechaIngreso'])
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'])
median_date = df['FechaIngreso'].dropna().median()
df['FechaIngreso'] = df['FechaIngreso'].fillna(median_date)
df['FechaIngreso']

0    2023-01-01
1    2023-01-05
2          None
3    2023-01-10
4    2023-01-12
5          None
6    2023-01-15
Name: FechaIngreso, dtype: object

0   2023-01-01
1   2023-01-05
2   2023-01-10
3   2023-01-10
4   2023-01-12
5   2023-01-10
6   2023-01-15
Name: FechaIngreso, dtype: datetime64[ns]

'''
### Ejercicio 2. Limpieza de duplicados
¿Cuál es el total de registros originales?
¿Cuáles y cuántos son los duplicados exactos?
¿Cuáles y cuántos son los duplicados por varias columnas?
¿Cuántos registros debes eliminar?
¿Cuántos registros quedan después de la limpieza?


'''

In [61]:
df = pd.DataFrame({ 'ID': [101, 102, 102, 103, 104, 104, 104], 'Nombre': ['Ana', 'Luis', 'Luis', 'Marta', 'Carlos', 'Carlos', 'Carlos'], 'Edad': [25, 30, 30, 29, 40, 40, 41], 'Ciudad': ['Bogotá', 'Cali', 'Cali', 'Medellín', 'Cali', 'Cali', 'Cali'], 'FechaRegistro': ['2023-01-01', '2023-01-05', '2023-01-05', '2023-01-10', '2023-01-15', '2023-01-15', '2023-01-16'] })

In [62]:
df.shape

(7, 5)

In [63]:
df.head()

    ID  Nombre  Edad    Ciudad FechaRegistro
0  101     Ana    25    Bogotá    2023-01-01
1  102    Luis    30      Cali    2023-01-05
2  102    Luis    30      Cali    2023-01-05
3  103   Marta    29  Medellín    2023-01-10
4  104  Carlos    40      Cali    2023-01-15

In [64]:
## total de registro originales
total_registros = len(df)
print("Total de registros originales:", total_registros)

Total de registros originales: 7

In [65]:
## Detectar duplicados exactos
duplicados_exactos = df[df.duplicated(keep=False)]

## Mostrar duplicados exactos
print("Duplicados exactos encontrados:")
print(duplicados_exactos)

## Contar duplicados (sin repetir)
total_duplicados_exactos = df.duplicated().sum()
print("Cantidad de duplicados exactos:", total_duplicados_exactos)

Duplicados exactos encontrados:
    ID  Nombre  Edad Ciudad FechaRegistro
1  102    Luis    30   Cali    2023-01-05
2  102    Luis    30   Cali    2023-01-05
4  104  Carlos    40   Cali    2023-01-15
5  104  Carlos    40   Cali    2023-01-15
Cantidad de duplicados exactos: 2

In [70]:
## Detectar duplicados por columnas
cols = ['ID', 'Edad', 'FechaRegistro']
duplicados_parciales = df[df.duplicated(subset=cols, keep=False)]

print("Duplicados por columnas (ID, Edad, Fecha de Registro):")
print(duplicados_parciales)

## Contar duplicados parciales (sin repetir)
total_duplicados_parciales = df.duplicated(subset=cols).sum()
print("Cantidad de duplicados por columnas:", total_duplicados_parciales)

Duplicados por columnas (ID, Edad, Fecha de Registro):
    ID  Nombre  Edad Ciudad FechaRegistro
1  102    Luis    30   Cali    2023-01-05
2  102    Luis    30   Cali    2023-01-05
4  104  Carlos    40   Cali    2023-01-15
5  104  Carlos    40   Cali    2023-01-15
Cantidad de duplicados por columnas: 2

In [71]:
## Eliminar duplicados exactos
df_sin_duplicados = df.drop_duplicates()

registros_eliminados = total_registros - len(df_sin_duplicados)
print("Registros eliminados:", registros_eliminados)

Registros eliminados: 2

In [72]:
print("Registros después de la limpieza (sin duplicados):", len(df_sin_duplicados))

Registros después de la limpieza (sin duplicados): 5

In [67]:
df_sin_duplicados.head()

    ID  Nombre  Edad    Ciudad FechaRegistro
0  101     Ana    25    Bogotá    2023-01-01
1  102    Luis    30      Cali    2023-01-05
3  103   Marta    29  Medellín    2023-01-10
4  104  Carlos    40      Cali    2023-01-15
6  104  Carlos    41      Cali    2023-01-16

In [68]:
df_sin_duplicados.shape

(5, 5)

''' 
### Ejercicio 3. Corrección de errores tipográficos o de codificación
estandariza la variable ciudad utilizando python.
'''

In [6]:

df = pd.DataFrame({
    'Ciudad': ['bogota', 'Bogotá', 'BOGOTA', 'bogotá', 'bogata', 'Bógota', 'BogoTa', 'Cali', 'calí', 'medellín', 'medellin']
})

In [ ]:
## 1️ Pasar todo a minúsculas
df['Ciudad_limpia'] = df['Ciudad'].str.lower()

## 2️ Eliminar tildes y caracteres especiales
df['Ciudad_limpia'] = df['Ciudad_limpia'].apply(lambda x: unidecode.unidecode(x))

## 3️ Corregir errores comunes de escritura con reemplazos manuales con errores tipicos
df['Ciudad_limpia'] = df['Ciudad_limpia'].replace({
    'bogata': 'bogota',    
    'bogo ta': 'bogota',   
    'calí': 'cali',
    'medellin': 'medellin'
})

print(df)

      Ciudad Ciudad_limpia
0     bogota        bogota
1     Bogotá        bogota
2     BOGOTA        bogota
3     bogotá        bogota
4     bogata        bogota
5     Bógota        bogota
6     BogoTa        bogota
7       Cali          cali
8       calí          cali
9   medellín      medellin
10  medellin      medellin